@import url('https://fonts.googleapis.com/css2?family=Benguiat+Pro:wght@400;700&family=Special+Elite&family=Courier+Prime&display=swap');

@font-face {
  font-family: 'Stranger Things';
  src: url('../assets/fonts/StrangerThings.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
